<div class="about information__container--inner">
    <div class="about__text">
        <h1 class="title">О компании</h1>
        <p class="paragraph">Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн.</p>
    </div>
    <div class="about__img">
        <div class="about__img__item">
            <h3>48</h3>
            <p>офисов</p>
            <p>В Европе и СНГ</p>
        </div>
        <div class="about__img__item">
            <h3>361</h3>
            <p>грузовиков</p>
            <p>Volvo, Scania</p>
        </div>
        <div class="about__img__item">
            <h3>1500</h3>
            <p>сотрудников<br>профессионалов</p>
        </div>
    </div>
</div> <!-- about information__container--inner -->