<div class="europe information__container--inner">
    <div class="europe__text">
        <h1 class="title">грузоперевозки по европе</h1>
        <p class="paragraph">Страны Евросоюза, а также Украина, Белоруссия со всеми документами.</p>
        <a href="#" class="button europe__button">подробнее</a>
    </div>
    <div class="europe__truck">
        <img src="/assets/images/truck.png" width="300px" height="auto"/>
    </div>
    <div class="europe__nav">
        <p class="europe__nav--item">следующий<span class="arrow-right span"></span></p>
        <p class="europe__nav--item"><span class="arrow-left span"></span>назад</p>
    </div>
</div>