<div class="preheader">
    <div class="container preheader__container">
        <div class="nav preheader__lang">
            <ul class="nav__list">
                <li class="nav__item"><a href="#" class="nav__link nav__link--current">рус</a></li>
                <li class="nav__item"><a href="#" class="nav__link">eng</a></li>
                <li class="nav__item"><a href="#" class="nav__link">fr</a></li>
            </ul>
        </div>
        
        <div class="preheader__number">
            <p>8 (800) 123-45-67</p>
        </div>
        
        <div class="preheader__address">
            <p>sales@log.ru</p>
        </div>
    </div>
</div>