 <div class="services information__container--inner">
    <div class="services__text">
        <h1 class="title">услуги</h1>
    </div>
    <div class="services__nav">
        <div class="services__nav__item services__nav__item--active">
            <img src="/assets/images/plane.png" /><h2>авиаперевозки</h2>
        </div>
        <div class="services__nav__item">
            <img src="/assets/images/plane.png" /><h2>авиаперевозки</h2>
        </div>
        <div class="services__nav__item">
            <img src="/assets/images/plane.png" /><h2>авиаперевозки</h2>
        </div>
        <div class="services__nav__item">
            <img src="/assets/images/plane.png" /><h2>авиаперевозки</h2>
        </div>
        <div class="services__nav__item">
            <img src="/assets/images/plane.png" /><h2>авиаперевозки</h2>
        </div>
        <div class="services__nav__item">
            <img src="/assets/images/plane.png" /><h2>авиаперевозки</h2>
        </div>
        <div class="services__nav__item">
            <img src="/assets/images/plane.png" /><h2>авиаперевозки</h2>
        </div>
        <div class="services__nav__item">
            <img src="/assets/images/plane.png" /><h2>авиаперевозки</h2>
        </div>
    </div>
</div> <!-- services information__container--inner -->