.map__inner {
    width: 100%;
    height: 450px;
    
    background: linear-gradient(0deg, rgba(57, 63, 71, 0.6), rgba(57, 63, 71, 0.6)), url('/assets/images/map.png') center;;
    background-size: cover;
}